
@{
    ViewBag.Title = "EditBekleyenler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<WWD.Models.Kampanya>
<div class="container" style="background-color:white">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Go to Detail</th>
                        <th>Acceptance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WWD.Models.Kampanya item in Model)
                    {
                        <tr>
                            <td><a href="/Kampanya/KampanyaDetay/@item.KampanyaId">@item.Adi</a></td>
                            <td><a href="/Yonetim/EditBekleyenlerDetay/@item.KampanyaId">Detail</a></td>
                           
                          
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
