
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/style.css" rel="stylesheet">
    <link href="/Content/css/color.css" rel="stylesheet">
    <link href="/Content/css/dl-menu.css" rel="stylesheet">
    <link href="/Content/css/flexslider.css" rel="stylesheet">
    <link href="/Content/css/prettyphoto.css" rel="stylesheet">
    <link href="/Content/css/responsive.css" rel="stylesheet">
 

    <style></style>



</head>
<body style="background-color:white;">
    <!--// Main Wrapper //-->
    <div class="as-mainwrapper">
        <!--// Header //-->
        <header id="as-header" class="as-absolute">
            <!--// TopStrip //-->
            <div class="container">
                <div class="as-topstrip as-bgcolor">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="as-stripinfo">
                                <li><i class="fa fa-phone"></i> (0216) 712 14 60</li>
                                <li><i class="fa fa-envelope-o"></i> <a href="#" target="_top">info@wwd.com</a></li>
                                    <li> Hello Mercan</li>   
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="as-section-right">
                                <ul class="as-social-media">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-linkedin"></a></li>
                                    <li><a href="#" class="fa fa-youtube"></a></li>
                                </ul>
                                <a href="#" class="as-donate-btn"> Start a Campaign </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// TopStrip //-->
            <div class="container">
                <div class="as-header-bar">
                    <div class="row">
                        <div class="col-md-2"><a href="index.html" class="logo"><img src="~/Content/images/112.png" alt=""></a></div>
                        <div class="col-md-10">
                            <div class="as-section-right">
                                <nav class="main-navigation">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="about.html">Categories</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                       
                                        
                                            <li><a href="#">Dashboard</a></li>
                                        
                                       
                                        
                                            <li><a href="#">LogOut</a></li>
                                            <li><a href="#">Profile</a></li>

                                       
                                        
                                            <li><a href="#">LogIn</a></li>
                                            <li><a href="#">SignUp</a></li>
                                        


                                    </ul>
                                </nav>
                                <div class="as-circle-btn">
                                    <a href="#" class="fa fa-search as-colorhover" data-toggle="modal" data-target="#searchmodal"></a>

                                </div>
                            </div>
                            <!--// Responsive Menu //-->
                            <div id="as-menu" class="as-menuwrapper">
                                <button class="as-trigger">Open Menu</button>
                                <ul class="as-menu">
                                    <li> <a href="index.html">Home</a> </li>
                                    <li> <a href="about.html">about</a> </li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul class="as-submenu">
                                            <li><a href="blog-large.html">blog large</a></li>
                                            <li><a href="blog-medium.html">blog medium</a></li>
                                            <li>
                                                <a href="#">blog detail</a>
                                                <ul class="as-submenu">
                                                    <li><a href="blog-detail.html">blog detail</a></li>
                                                    <li><a href="blog-detail-vimeo.html">Single vimeo</a></li>
                                                    <li><a href="blog-detail-soundcloud.html">Single soundcloud</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">event</a>
                                        <ul class="as-submenu">
                                            <li><a href="event-list.html">event list</a></li>
                                            <li><a href="event-grid.html">event grid</a></li>
                                            <li><a href="event-detail.html">event detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">cause</a>
                                        <ul class="as-submenu">
                                            <li><a href="cause-list.html">cause list</a></li>
                                            <li><a href="cause-grid.html">cause grid</a></li>
                                            <li><a href="cause-detail.html">cause detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Team</a>
                                        <ul class="as-submenu">
                                            <li><a href="team-list.html">team list</a></li>
                                            <li><a href="team-grid.html">team grid</a></li>
                                            <li><a href="team-detail.html">team detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">shop</a>
                                        <ul class="as-submenu">
                                            <li><a href="shop-list.html">Shop List</a></li>
                                            <li><a href="shop-detail.html">Shop Detail</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shortcode.html">shortcode</a></li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="as-submenu">
                                            <li><a href="donation.html">Donation</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="underconstruction.html">UnderConstruction</a></li>
                                            <li>
                                                <a href="#">Gallery</a>
                                                <ul class="as-submenu">
                                                    <li><a href="gallery3column.html">Gallery 3Column</a></li>
                                                    <li><a href="gallery4column.html">Gallery 4Column</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact us</a></li>
                                </ul>
                            </div>
                            <!--// Responsive Menu //-->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--// Header //-->
        <div class="as-minheader">
            <span class="full-pattren"></span>

        </div>

        <!--// Footer //-->
        <div class="as-footer">
            <div class="container">
                <div class="row">
                    <aside class="widget widget_info col-md-3">
                        <a href="#" class="footer-logo"><img src="~/Content/images/ff.png" alt=""></a>
                        <p>Life is easier all together.</p>
                        <ul>
                            <li><i class="fa fa-home"></i> Meşrutiyet Köyü, Şile,Turkey</li>
                            <li><i class="fa fa-envelope-o"></i> <a href="#" target="_top">info@wwd.com</a></li>
                            <li><i class="fa fa-phone"></i> (0216) 712 14 60</li>
                        </ul>
                    </aside>
                    <aside class="widget widget_categories col-md-3">
                        <div class="as-strip-title"> <h3>Quick Links</h3> </div>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Return Policy</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget_newslatter col-md-6">
                        <div class="as-strip-title"> <h3>Newsletter</h3> </div>
                        <p>To stay keep informed,add yourself +1.</p>
                        <form>
                            <ul>
                                <li><input type="text" placeholder="Your Name" name="usrname" required></li>
                                <li><input type="text" placeholder="Email Address" name="email" required></li>
                                <li><input class="as-bgcolor" type="submit" value="Subscribe Now"></li>
                            </ul>
                        </form>
                    </aside>
                </div>
            </div>
            <footer class="copyright-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"><div class="copyright-text"><p>© 2017 WWD, All Right Reserved</p></div></div>
                        <div class="col-md-6">
                            <a href="#" class="backtop-btn"><i class="fa fa-angle-double-up as-color"></i></a>
                            <ul class="as-media-network">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-youtube"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!--// Footer //-->

    </div>
    <!--// Main Wrapper //-->
    <!-- Search Modal -->
    <div class="modal fade" id="searchmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header as-bgcolor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                    <h4>Search</h4>
                </div>
                <div class="modal-body">
                    <form class="modal-search">
                        <input type="text" placeholder="Enter any keyword and press enter" name="usrname" required>
                        <label> <input type="submit" value=""> </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal -->
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script src="/Content/script/jquery.min.js"></script>
    <script src="/Content/script/modernizr.js"></script>
    <script src="/Content/script/bootstrap.min.js"></script>
    <script src="/Content/script/jquery.dlmenu.js"></script>
    <script src="/Content/script/flexslider-min.js"></script>
    <script src="/Content/script/goalProgress.min.js"></script>
    <script src="/Content/script/jquery.countdown.min.js"></script>
    <script src="/Content/script/jquery.prettyphoto.js"></script>
    <script src="/Content/script/waypoints-min.js"></script>
    <script src="/Content/script/owl.carousel.min.js"></script>
    <script src="/Content/script/newsticker.js"></script>
    <script src="/Content/script/parallex.js"></script>
    <script src="/Content/script/styleswitch.js"></script>
    <script src="/Content/script/functions.js"></script>
    <!--</div>-->
</body>
</html>
